.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.5s;
    margin: 15px 15px 15px 15px;
}

.card-container:hover,
.card-container:active {
    transform: scale(1.1);
}

.ant-card-cover:hover,
.ant-card-meta-title:hover,
.ant-tag:hover {
    cursor: pointer;
}

.card-container:hover.overlay {
    opacity: 1;
}

.overlay {
    justify-content: flex-end;
    height: 10px;
    left: 15px;
    transition: 0.1s ease;
    z-Index: 2;
    bottom: 3px;
    color: #212121;
}

.ant-btn {
    border-style: none;
}

.ant-btn:hover {
    color: #212121;
}

.overlay>.like,
.overlay>.watch {
    opacity: 0.2;
}

.overlay.like.active,
.overlay.watch.active {
    opacity: 0.9;
}

.anticon.anticon-heart,
.anticon.anticon-eye {
    font-size: 23px;
    margin-left: 1px;
}

.ant-card.ant-card-bordered {
    width: 190px
}

.ant-card-cover * {
    height: 280px;
}

.ant-row .gutter-row {
    /* между тегом и названием */
    margin-top: 5px
}

.ant-card.ant-card-bordered>.ant-card-body {
    padding: 20px;
}


.ant-card.ant-card-bordered {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

}

.ant-card-cover img  {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}