.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.5s;
    margin: 15px 12px 15px 12px;
}

.card-container:hover,
.card-container:active {
    transform: scale(1.1);
}

.ant-card-cover:hover,
.ant-card-meta-title:hover,
.ant-tag:hover {
    cursor: pointer;
}

.card-container:hover.overlay {
    opacity: 1;
}

.ant-btn.overlay{
    border-style: none;
    background: none;
}

.ant-btn:hover,
.ant-btn:focus,
.overlay.like.active,
.overlay.watch.active {
    color: #FFD500;
    opacity: 1;
    background: none;
}

.anticon.anticon-heart,
.anticon.anticon-eye {
    font-size: 25px;
}

.ant-card.ant-card-bordered,
.ant-card-body, .ant-card-cover > img {
    width: 190px;
    background: none;
    border: none;
}

.ant-card-meta-title {
    color:#d4d4d4;
}

.ant-card-cover * {
    height: 280px;
}

.ant-card.ant-card-bordered>.ant-card-body {
    padding: 15px 10px 10px 10px;
}

.ant-card-meta-title {
    white-space: nowrap;
}

.ant-card.ant-card-bordered.card-container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(60deg, #414141 40%, #616161 100%);
}

.ant-card-cover img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ant-card-actions {
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: none;
}

.ant-card-actions li {
    margin-top: 5px;
    margin-bottom: 3px;
    border-right: 0px;
}

.ant-card-actions>li:not(:last-child) {
    border-right: 0px;
}

.ant-tag {
    margin: 0;
}