.result-error {
    background: linear-gradient(90deg, #313131 10%, #212121 70% );
    border-radius: 10px;
    padding: 3% 12px 5% 12px;
    color: #d4d4d4;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: center;
}

.result-error>.ant-result-subtitle {
    font-size: 40px;
}

.ant-result-extra>.ant-btn-primary {
    color: #212121
}

.ant-result-extra>.ant-btn-primary:hover {
    color: #FFD500
}

.ant-result-icon {
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    .result-error-svg {
        width: 250px;
    }

    .result-error>.ant-result-subtitle {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .result-error-svg {
        width: 180px;
    }
}