.ant-modal-content {
    background: rgba(88, 88, 88, 0.45);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(7.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    min-height: 250px;
}

.ant-modal-body {
    background: none;
}

.ant-modal-header {
    background: none
}

.ant-modal-close-x {
    color: #FFD500;
}

.ant-col .movie-tags .ant-tag {
    margin: 3px;
    border: none;
    color: #e7e7e7;
    background: rgba(119, 119, 119, 0.4);

}

.ant-tag {
    white-space: normal;
}

.ant-result-title,
.ant-result-subtitle,
.ant-typography,
.ant-typography.movie-title {
    color: #d4d4d4;
}

.ant-typography.movie-detail-paragraph,
.ant-typography.movie-title {
    background: rgba(187, 187, 187, 0.1);
    backdrop-filter: blur(3.0px);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.ant-typography.movie-rating {
    padding: 5px;
    color: #FFD500
}

.modal-img {
    max-width: fit-content;
    margin-bottom: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.ant-modal-body {
    display: flex;
}

@media screen and (min-width: 820px) {
    .ant-modal-content {
        width: 800px;
    }

    .ant-modal {
        right: 100px;
    }
}

@media screen and (min-width: 410px) and (orientation: portrait) {
    .ant-modal-body {
        min-width: 410px;
    }

    .modal-img {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 350px) and (orientation: portrait) {
    .ant-modal-body {
        max-width: 300px;
    }

    .modal-img {
        margin-bottom: 20px;
        width: auto;
    }

    .modal-img img {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
}