.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.2s;
}

.card-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    z-Index: 2;
    bottom: 50px;
    background-color: rgba(167, 167, 167, 0.5);
    color: #FFD500;
}

.overlay.like {
    width: 50%;
    left: 160px;
    opacity: 0.3;
}

.overlay .watch {
    width: 50%;
    left: 10px;
    opacity: 0.3;
}

.overlay.watch:hover {
    background-color: rgba(167, 167, 167, 0.7);
    color: #FFD500;
}

.overlay.like:hover {
    background-color: rgba(167, 167, 167, 0.7);
    color: #FFD500;
}

.overlay .like:active {
    background-color: rgba(167, 167, 167, 0.7);
    color: #FFD500;
}

.ant-btn {
    color: #212121;
    border-color: rgba(167, 167, 167, 0.7);
}

.ant-btn:focus {
    color: #FFD500;
    border-color: #212121;
    background-color: rgba(167, 167, 167, 0.7);
}

.overlay .like .active {
    background-color: rgba(167, 167, 167, 0.7);
    color: #FFD500;
}