.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.5s;
}

.card-container:hover {
    transform: scale(1.1);
}

.ant-card-cover:hover,
.ant-card-meta-title:hover,
.ant-tag:hover {
    cursor: pointer;
}

.card-container:hover.overlay {
    opacity: 1;
}

.overlay {
    justify-content: flex-end;
    height: 10px;
    left: 15px;
    transition: 0.1s ease;
    z-Index: 2;
    bottom: 3px;
    color: #212121;
}

.ant-btn {
    border-style: none;
}

.ant-btn:hover {
    color: #212121;
}

.overlay>.like,
.overlay>.watch {
    opacity: 0.2;
}

.overlay.like.active,
.overlay.watch.active {
    opacity: 0.9;
}

.anticon.anticon-heart,
.anticon.anticon-eye {
    font-size: 23px;
    margin-left: 1px;
}


/* .overlay.watch:hover,
.overlay.like:hover {
    color: #FFD500;
} */

.ant-row.ant-row-center .card-container {
    margin: 15px;
    display: flex;
}

.ant-card.ant-card-bordered {
    max-width: 200px
}

.ant-card-cover * {
    height: 290px
}

.ant-card-meta {
    padding: 0px
}

.ant-row .gutter-row {
    margin-top: 5px
}

.ant-card.ant-card-bordered>.ant-card-body {
    padding: 20px;
}