.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.2s;
}

.card-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    z-Index: 2;
    bottom: 48px;
    background-color: rgba(167, 167, 167, 0.5);
    color: #FFD500;
}

.ant-btn {
    color: #212121;
    border-color: rgba(167, 167, 167, 0.7);
}

.ant-btn:focus {
    color: #212121;
    border-color: rgba(167, 167, 167, 0.7);
    background-color: rgba(167, 167, 167, 0.7);
}

.overlay>.like {
    left: 160px;
}

.overlay>.watch {
    left: 10px;
}

.overlay>.like,
.overlay>.watch {
    width: 50%;
    opacity: 0.3;
}

.overlay.watch:hover,
.overlay.like:hover {
    background-color: rgba(167, 167, 167, 0.7);
    color: #FFD500;
}

.overlay.like.active,
.overlay.watch.active {
    /* при нажатии на кнопку добавляется класс эктив */
    border-color: #FFD500;
    color: #FFD500;
    opacity: 0.9;
}

.anticon.anticon-heart,
.anticon.anticon-folder-view {
    font-size: 23px;
    margin-left: 1px;
}

.anticon.anticon-heart {
    margin-top: 2px;
}

.ant-row.ant-row-center .card-container {
    margin: 15px;
    display: flex;
}

.ant-card.ant-card-bordered {
    max-width: 200px
}

.ant-card-cover * {
    height: 290px
}

.ant-card-meta {
    padding: 0px
}

.ant-row .gutter-row {
    margin-top: 3px
}