a {
    color: #FFD500;
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

.ant-layout.ant-layout-has-sider {
    min-height: 100vh;
}

.ant-layout-content {
    margin: 0px 20px 20px 20px;
    border-radius: 10px;
}

.ant-layout {
    background: linear-gradient(60deg, #212121 50%, #313131 100%);

}

.error-row>.ant-empty * {
    height: 200%;
    font-size: 20px;
    justify-content: center;
}

.ant-spin-dot.ant-spin-dot-spin {
    width: 120px;
    height: 120px;
}

.ant-spin-dot-item {
    width: 50px;
    height: 50px;
}

.ant-tag {
    font-size: 13px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.ant-layout-footer {
    background: #313131;
    background: linear-gradient(30deg, #313131 10%, #212121 90%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.ant-menu-root.ant-menu-horizontal{
    background: none;
}
.ant-layout-footer .ant-menu-item.customclass.ant-menu-item-selected, 
.ant-layout-footer .ant-menu-item.customclass.ant-menu-item-active{
    background: none;
}

.ant-layout-footer .ant-menu-item.customclass.ant-menu-item-selected {
    color:rgba(255, 255, 255, 0.65)
}

.author-text, .email-text {
    margin-left: 5px;
}

