a {
    color: #FFD500;
}

.ant-menu .ant-menu-item-selected.customclass {
    background-color: #FFD500;
    color: #212121;
}

.ant-layout-sider-trigger {
    background-color: #c0a001;
}

.ant-btn .ant-btn-circle .ant-btn-icon-only .ant-btn-background-ghost .customclass {
    background-color: #FFD500;
    color: #FFD500;
}

.ant-layout .ant-layout-has-sider .Layout {
    min-height: 100vh;
}

.ant-layout-header {
    background: #FFD500
}

.ant-layout-content {
    padding: 20px 20px;
}

.ant-modal {
    width: 90%
}