a {
    color: #FFD500;
    width: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

.ant-layout.ant-layout-has-sider {
    min-height: 100vh;
}

.ant-layout-header {
    background: #FFD500
}

.ant-layout-content {
    padding: 20px 20px 20px 20px;
}

.error-row>.ant-empty * {
    height: 200%;
    font-size: 20px;
    justify-content: center;
}

.ant-modal-content {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.ant-modal-header {
    background: none
}

.ant-modal {
    min-width: 800px;
}

.ant-spin-dot.ant-spin-dot-spin {
    width: 120px;
    height: 120px;
}

.ant-spin-dot-item {
    width: 50px;
    height: 50px;
}