.ant-layout-header.header{
    height: auto;
    padding: 0px;
    background:none;
}

.ant-row.search-row{
    background: #FFD500;
    width: 100%;
    justify-content: center;
    
}

.ant-col.search{
    width: 50vw;
    top:10px;
}

.filter-menu-btn{
    top: 9px;
}


.input-number{
    text-align: center;
}

