.ant-layout-header.header {
    height: auto;
    padding: 0px;
    background: none;
    margin: 17px 0 17px 0;
}

.ant-row.search-row {
    width: 100%;
    height: 42px;
    justify-content: center;
    border-bottom-left-radius: 10px;
}

.ant-col.search {
    width: 55vw;
    height: 42px;
}

.ant-input-wrapper.ant-input-group {
    box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: #616161;
}

.ant-input-group-addon{
    background: #616161;
}

.ant-input-group>.ant-input:first-child,
.ant-input-group-addon:first-child {
    border-right: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #616161;
    border-style: none;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
    border-radius: 10px;
    left: -2;
}
.anticon.anticon-search{
    color: #FFD500;
}

.filter-menu-btn {
    left: 5px;
    width: 40px;
    height: 40px;
    border-style: none;
}


.ant-input-group>.ant-input:first-child,
.ant-input-group-addon:first-child {
    color: #FFD500;
    background: #515151;
}

.ant-input{
    border: none;
    height: 40px;
}