.ant-dropdown.ant-dropdown-placement-bottomRight  {
    top: 64px
}
.ant-menu-item-selected {
    background-color: #FFD500 !important;
}

.ant-menu.ant-menu-light.filter-menu.ant-menu-root.ant-menu-vertical {
    background: #FFD500;
    border-right: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    

}

.ant-slider-handle.ant-slider-handle-2,
.ant-slider-handle.ant-slider-handle-1 {
    border: solid 1px #212121;
}

.ant-checkbox-wrapper.ant-checkbox-group-item {
    background: none;
    font-size: 20px;
    color: white;
}

.ant-input-number-handler.ant-input-number-handler-up,
.ant-input-number-handler.ant-input-number-handler-down {
    background-color: #FFD500;
    color: white;
}