.ant-row.filter-menu{
    display: flex;
    height: 40px;
}
.filter-menu{
    display: flex;
    background:#FFD500;
    min-width: 70%;
    margin-left: 13.5%;
    margin-right: 13.5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-content: center;
    
}

.ant-slider-track.ant-slider-track-1{
    background: rgb(201, 201, 201);
}

.ant-slider-handle.ant-slider-handle-2, .ant-slider-handle.ant-slider-handle-1{
    border: solid 1px #212121;
}

.ant-checkbox-wrapper.ant-checkbox-group-item{
    background:none;
    font-size: 20px;
    color: white;
}

.input-number{
    height: auto;
}