.ant-dropdown.ant-dropdown-placement-bottomRight {
    top: 64px;

}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: none
}

.ant-menu.ant-menu-light.filter-menu.ant-menu-root.ant-menu-vertical {
    background: linear-gradient(60deg, #414141 40%, #616161 100%);

    border-radius: 10px;
    border-right: none;
}

.ant-slider-handle.ant-slider-handle-2,
.ant-slider-handle.ant-slider-handle-1 {
    border: solid 1px #212121;
}

.ant-checkbox-wrapper.ant-checkbox-group-item {
    background: none;
    font-size: 20px;
    color: white;
}

.ant-input-number-handler.ant-input-number-handler-up,
.ant-input-number-handler.ant-input-number-handler-down {
    color: white;
    width: 25px;
}

.filter-item {
    background: none
}

.ant-input-number-handler-wrap{
    width: 25px;
}