.card-container {
    position: relative;
    z-Index: 1;
    transition: transform 0.2s;
}

.card-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    transition: 0.5s ease;
    opacity: 0.1;
    z-Index: 2;
    bottom: 50px;
    background-color: rgba(167, 167, 167, 0.5);
    color: #FFD500;
}

.overlay.like {
    width: 50%;
    left: 160px;
}

.overlay .watch {
    width: 50%;
    left: 10px;
    align-items: stretch;
}

.overlay.watch:hover {
    background-color: rgba(167, 167, 167, 0.7);
}

.overlay.like:hover {
    background-color: rgba(167, 167, 167, 0.7);
}