.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
    background: #212121;
}

.ant-menu.ant-menu-dark.ant-menu-root {
    height: 100vh;
    color: #D6D9DC;
    background: #212121;
    padding-left: 5px;
    border-right: 0px;
    font-size: 26px;
}

.ant-layout-sider-trigger {
    background: #FFD500 !important;
}

.ant-menu-item.customclass.ant-menu-item-selected {
    background-color: #FFD500;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 5px;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    font-size: 20px !important;
}
