.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
    background: none;
    
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #313131;
    background: linear-gradient(60deg, #313131 40%, #414141 100%);

}

.ant-menu.ant-menu-dark.ant-menu-root {
    color: #D6D9DC;
    padding-left: 5px;
    font-size: 26px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline {
    margin-top: 10px;
}

.ant-menu-item.customclass {
    padding-left: 15px;
}

.ant-layout-sider-trigger {
    background: #FFD500 !important;
    border-radius: 10px;
    width: max-content;
}

.ant-menu-item.customclass.ant-menu-item-selected {
    background-color: #FFD500;
    border-radius: 10px;
}

.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    font-size: 20px !important;
}