.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
    background: #212121;
}

.ant-menu.ant-menu-dark.ant-menu-root {
    height: 100vh;
    color: #D6D9DC;
    background: #212121;
    padding-top: 60px;
    padding-left: 10px;
    border-right: 0px;
    font-size: 26px;
}

.ant-layout-sider-trigger {
    background-color: #ffc400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ant-menu-item.customclass.ant-menu-item-selected {
    background-color: #FFD500;
    color: #212121;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 5px;
}

.anticon.anticon-database,
.anticon.anticon-video-camera,
.anticon.anticon-heart,
.anticon.anticon-eye {
    font-size: 20px;
}